html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
  
}

body,html {
  margin: 0;
  padding: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 83px;
  padding: 3rem .5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  animation: animate 20s linear infinite;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: .5rem;
  padding: 1rem .5rem;
  transition: all .17s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.6);
  text-shadow: 0 0 .5rem black;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  /* animation: animate 13s linear infinite; */
  /* transition: 0.5s; */

}


.playing2 {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 1000%;
  }
}


.playing {
  transform: scale(2.1);
  border-color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--main-color);
  filter: blur(1px);
  opacity: .9;
  animation: animate 3s linear infinite;
  
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.mainDiv {
  -webkit-flex-direction: row; 
  flex-direction: row;

}

.instructions {
  padding: .5vh;
  font-size: 2vh;
  color: white;
  text-align: center;
  align-items: center;
  background: linear-gradient(90deg, #03a9f4, #ffeb3b, #f441a5, #03a9f4);
  background-size: 100%;
  text-shadow: 0 0 .5rem black;
}


.javascript30 {
  padding: 1.4vh;
  font-size: 2vh;
  color: black;
  text-align: center;
  align-items: center;
  background-color: white;
  /* text-shadow: 0 0 .5rem black; */
}

.linkslist {
  margin: .5vh;
  padding: 1.4vh;
  font-size: 1.5vh;
  color: black;
  text-align: center;
  align-items: center;
  background-color: white;
}

li {
  margin: .5vh;
}

.linksDiv {
  background-color: white;
}